<!-- <!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
      <!-- Google Fonts 
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet" />

    <!-- Glidejs 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css" />

    <!-- Custom Stylesheet 
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="nav.css"/>
    <script src="main.js"></script>
    <link href="new.css"rel="stylesheet">
    <h2 class="nav__category"> LOGIN TO SHOP.<span>IN</span></h2>
</head>
<body ng-app="myapp">  
    
    <div class="container" ng-controller="ctrl">
    
    <form>
        <div class="name_id">
            <label for="name">Username:</label>
            <input type="text" id="name" ng-model="name">
        </div>
        <span class="error">{{nameError}}</span>
        <div class="user">
            <label for="uname">Email:</label>
            <input type="text" id="uname" ng-model="email">
        </div>
        <span class="error">{{emailError}}</span>
        <div class="pw">
            <label for="pass">Password:</label>
            <input type="password" id="pass" ng-model="password">
        </div>
        <span class="error">{{passError}}</span>
        <button onclick='alert("hffeef")'>Login</button>
        <span class="success">{{successMsg}}</span>
    </form></div>
    
</body>
</html> -->